@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/RobotoThin.ttf");
  font-weight: 100;
  }
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/RobotoRegular.ttf");
  font-weight: 300;
  }

* {
  box-sizing: border-box;
  }

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  }

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
  }

.nav-link:hover {
  color: #5d7260;
  }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

.header {
  background-color: lightgrey;
  }

.container {
  max-width: 1440px;
  margin: 0 auto;
  }

.section-profile-logo {
  border-radius: 180px;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
  }

.section-item a {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
  align-items: center;
  }

.section-item a:hover {
  color: #4d2323;
  }

.section-contacts-list {
  list-style-type: none;
}

html {
  scroll-behavior: smooth; 
  }

.main-container {
  display: flex;
  flex-wrap: wrap;
  }
  
.section {
  width: 50%;
  }

@media (max-width: 768px) {
  .section {
    width: 100%;
    }
  }

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  }

.github.nav-link {
  color: black;
}